.main__container {
    height: 500px;
}

.parts {
    height: 100%;
    gap: 150px;
    align-items: center;
}

.parts hr {
    height: 90%;
}

.enter-inputs {
    display: flex;
    flex-direction: column;
}

.svaz-form {
    align-items: center;
}

.left-part, .right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-part {
    gap: 20px;
}

.right-part button {
    width: 150px;
    height: 35px;
}